{% extends 'base.html.twig' %}

{% block body %}
<h2 class="page-header">Events</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{event.name}}</td>
      <td>{{event.dueDate|date('F j, Y, g:i a')}}</td>
      <td>
        <a href="/todo/details/{{event.id}}" class="btn btn-success">View</a>
        <a href="/todo/edit/{{event.id}}" class="btn btn-primary">Edit</a>
        <a href="/todo/delete/{{event.id}}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


