{% extends 'base.html.twig' %}
{% block body %}

<h2 class="page-header">
  <a href="/monthView/{{prevMonthYear.year}}/{{prevMonthYear.month}}" class="prev-month" title="Last month"> < </a>
  {{monthName}} {{year}}
  <a href="/monthView/{{nextMonthYear.year}}/{{nextMonthYear.month}}" class="next-month" title="Next month"> > </a>
  </h2>

	<table class="month-view">
    <tr>
    {% for dow in daysOfWeek %}
      <th class="dow">{{dow}}</th>
    {% endfor %}
    </tr>
    {% for week in calendar %}
      <tr>
        {% for day in week %}
          {% if day != null %}
            <td class="cell-day" id="day_{{day}}">
              <table class="cell-table" align="right">
                <tr>
                  <td class="day">{{day}}</td>
                </tr>
                <tr>
                  <td class="events-container">
                  {% if events[day] is defined %}
                    <ul class="events-list">
                      {% for event in events[day] %}
                        <li class="event-item">
                          <a href="/todo/details/{{event.id}}">{{event.time}} {{event.name}}</a>
                          <span class="edit-tools">
                            <span class="edit-icon" title="Edit"><a href="/todo/edit/{{event.id}}"><img src="/images/edit.png"/></a></span>
                            <span class="delete-icon" title="Delete"><a href="/todo/delete/{{event.id}}"><img src="/images/delete.png"/></a></span>
                          </span>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                  </td>
                </tr>
              </table>
            </td>

          {% else %}
            <td class="cell-blank"></td>
          {% endif %}

        {% endfor %}
      </tr>
    {% endfor %}
  </table>


{% endblock %}


